@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

$primary-color: #212426;

@import "./MediaQueries.scss";
@import "./NavBar.scss";
@import "./MovieCard.scss";
@import "./MovieDetails.scss";

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: $primary-color;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  list-style: none;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  @include sm-screen {
    padding: 50px 100px;
  }

  @include xs-screen {
    padding: 50px 10px;
  }

  @include md-screen {
    padding: 50px 0px;
  }

  .movie_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 60px 10vw;

    @include sm-screen {
      padding: 50px 10px;
      grid-template-columns: 1fr;
    }
    @include xs-screen {
      padding: 50px 10px;
      margin-top: 50px;

      @include md-screen {
        padding: 50px 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
    }
  }
}
